<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyrico.keyrisdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".WebViewActivity"
            android:allowClearUserData="true"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

    </application>

</manifest>
